:root {
  --text-color: #212121;
  --content-color: #757575;
  --footer-color: #2f303a;
  --button-color: #2196f3;
  --hero-background: #2f303a;
}

.container {
  width: 1200px;
  /* border: dotted red; */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
}

button {
  border: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.header__information,
.header__item,
.header__contact,
.info__item,
.pictures__list,
.workers__list,
.buttons,
.list {
  list-style: none;
}

h1,
h3,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  height: 80px;
}
.header__navigation {
  display: flex;
  padding-top: 20px;
}
.header__logo {
  color: var(--button-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  align-items: center;
  align-self: center;
}
.header__accent {
  color: #000;
}
.header__list {
  display: flex;
  gap: 50px;
  margin-right: auto;
  margin-left: 93px;
  align-items: center;
}
.header__link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.header__studio {
  transition-property: color;
  transition-duration: 500ms;
}
.header__studio::after {
  content: "";
  display: block;
  border-radius: 2px;
  background: #2196f3;
  width: 48px;
  height: 4px;
  flex-shrink: 0;
  position: absolute;
  top: 76px;
  right: 100 px;
  color: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}
.header__adress {
  color: var(--content-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__link:hover {
  color: var(--button-color);
}
.header__adress:hover {
  color: var(--button-color);
}
.header__adress:hover .mail-svg {
  fill: #2196f3;
}
.header .phone-svg {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
  fill: grey;
}
.header__adress:hover .phone-svg {
  fill: #2196f3;
}
.header .studio__color {
  color: #fff;
}
.header .perf {
  margin-bottom: 28px;
}
.header .perf::after {
  content: "";
  display: block;
  border-radius: 2px;
  background: #2196f3;
  margin: auto;
  width: 78px;
  height: 4px;
  flex-shrink: 0;
  position: absolute;
  top: 80px;
  right: 1113px;
  color: #2196f3;
}
.header__information {
  box-shadow: inset 0px -5px 10px -10px grey;
}
.header .mail {
  margin-bottom: 9px;
}

.hero {
  display: flex;
  height: 600px;
  background-color: var(--hero-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__heading {
  width: 696px;
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero__button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero__button__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
}
.hero .box {
  display: flex;
}

.info {
  padding-top: 94px;
  padding-bottom: 94px;
}
.info__list {
  display: flex;
}

.info-heading {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 20px;
}

.info__list {
  display: flex;
  gap: 30px;
}

.info-text {
  margin-top: 10px;
  color: var(--content-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.info-item::before {
  display: flex;
  content: url(../images/spytnik.png);
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.info-before::before {
  content: url(../images/pc.png);
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
}

.info-clock::before {
  content: url(../images/clock.png);
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
}

.info-austronaut::before {
  content: url(../images/astronaut.png);
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.pictures-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.pictures-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  position: relative;
}

.pictures-photo {
  position: relative;
  width: 370px;
  height: 294px;
}

.text-box {
  position: relative;
  width: 370px;
  height: 70px;
  flex-shrink: 0;
  background: rgba(47, 48, 58, 0.8);
  bottom: 70px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  padding-top: 27px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.pictures {
  padding-bottom: 94px;
}

.workers-photo {
  width: 270px;
  height: 260px;
}

.workers {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.workers__title {
  text-align: center;
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.workers__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.workers__item {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 5px 15px -10px black;
}

.workers-name {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-top: 30px;
}

.worker-skill {
  color: var(--content-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-top: 10px;
  padding-bottom: 30px;
}

.information {
  display: flex;
  justify-content: center;
  gap: 22px;
  list-style: none;
  padding-bottom: 30px;
}

.instagram {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration: 500ms;
  transition-property: fill, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.linkedin {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration: 500ms;
  transition-property: fill, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.facebook {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration: 500ms;
  transition-property: fill, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.twitter {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration: 500ms;
  transition-property: fill, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram :hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.svg-instagram {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-instagram:hover {
  background-color: #2196f3;
}

.svg-instagram:hover .instagram {
  fill: #fff;
}

.twitter :hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.svg-twitter {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-twitter:hover {
  background-color: #2196f3;
}

.svg-twitter:hover .twitter {
  fill: #fff;
}

.facebook :hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.svg-facebook {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-facebook:hover {
  background-color: #2196f3;
}

.svg-facebook:hover .facebook {
  fill: #fff;
}

.linkedin :hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.svg-linkedin {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-linkedin:hover {
  background-color: #2196f3;
}

.svg-linkedin:hover .linkedin {
  fill: #fff;
}

.clients {
  height: 372px;
}
.clients__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  justify-content: center;
}
.clients__name {
  justify-content: center;
  display: flex;
  gap: 30px;
  list-style: none;
}
.clients__box {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__logo {
  width: 106px;
  height: 60px;
  flex-shrink: 0;
  fill: #AFB1B8;
  transition-duration: 500ms;
  transition-property: fill, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__box:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}
.clients__box:hover .clients__logo {
  fill: #2196f3;
}

.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__social {
  display: flex;
  gap: 70px;
  align-items: center;
}
.footer__logo {
  color: var(--button-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__adres {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 20px;
  font-style: normal;
}
.footer__info {
  list-style: none;
  color: var(--content-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 9px;
}
.footer__media {
  display: flex;
  flex-direction: column;
}
.footer__join {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__svg {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f5f4fa;
  transition-duration: 500ms;
  transition-property: fill, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #f5f4fa;
}
.footer__svg:hover {
  background-color: #2196f3;
}
.footer__socials {
  display: flex;
  list-style: none;
  gap: 10px;
  padding-bottom: 21px;
}
.footer__links {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__sub {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer__telegram {
  position: relative;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.footer__logos {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #fff;
  right: 48px;
  top: 7px;
}
.footer__mail {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  margin-right: 10px;
  fill: gray;
}

.backdrop {
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  background-color: #fff;
  position: fixed;
  transform: translate(50%, 40%);
  top: 1%;
  right: 50%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.modal {
  position: relative;
}

.close-modal {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.backdrop-btn {
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 490px;
  top: 14px;
  background-color: #fff;
  border-radius: 20px;
  background: #fff;
}

.feedback-title {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.feedback-title-big {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.write-space {
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  padding: 0px 42px 0px 42px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-svg {
  width: 18px;
  height: 18px;
  position: relative;
  left: 12px;
  bottom: 30px;
}

.big-input {
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  width: 448px;
  height: 120px;
  padding: 0px 16px 82px 16px;
}

.blank-info {
  list-style: none;
  padding-left: 42px;
}

.modal-text {
  margin-bottom: 4px;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.blue-text {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.Conditions-contract {
  margin-top: 20px;
  padding-left: 57px;
}

.comfirm-svg {
  margin-right: 7px;
}

.send-info {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: 165px;
}

.send-color {
  display: block;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.backdrop-btn:hover .close-modal {
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.give-feedback {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.buttons-catalogue {
  padding-top: 94px;
  padding-bottom: 50px;
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button {
  border-radius: 4px;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 0.48px;
  transition-duration: 500ms;
  transition-property: fill, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-post {
  padding-bottom: 94px;
}

.buttons-all {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  width: 73px;
  height: 38px;
  color: var(--text-color);
  border-radius: 4px;
  transition-duration: 500ms;
  transition-property: color, background;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-all:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: #2196f3;
  color: white;
}

.card-poster:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.button-2 {
  width: 125px;
  height: 38px;
}

.button-2:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--button-color);
  color: #f5f4fa;
}

.button-3 {
  width: 122px;
  height: 38px;
}

.button-3:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--button-color);
  color: #f5f4fa;
}

.button-4 {
  width: 130px;
  height: 38px;
}

.button-4:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--button-color);
  color: #f5f4fa;
}

.button-5 {
  width: 130px;
  height: 38px;
}

.button-5:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--button-color);
  color: #f5f4fa;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.list__photo {
  width: 370px;
  border: 1px solid #eee;
  background: #fff;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  overflow: hidden;
}
.list__poster:hover .card-background {
  opacity: 1;
  transition: all 0.5s;
  top: 0;
}
.list__about {
  margin-top: 20px;
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-left: 24px;
}
.list__name {
  margin-top: 4px;
  color: var(--content-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-left: 24px;
  padding-bottom: 20px;
}

a {
  color: inherit;
}

.buttons-catalogue {
  padding-top: 94px;
  padding-bottom: 50px;
}

.photo-post {
  padding-bottom: 94px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-background {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  z-index: 2;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  top: 100%;
}

.text-card {
  width: 322px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  align-items: center;
  text-align: center;
}

.perf {
  margin-bottom: 28px;
}/*# sourceMappingURL=main.css.map */