
  
  .clients {
 @media screen and (min-width:768px) {
  padding-bottom: 60px;
 }
 @media screen and (min-width:320px) {
  padding-bottom: 60px;
 }
 


   &__title {
      color: #212121;
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
      justify-content: center;
      @media screen and (min-width:320px) {
        margin-bottom: 30px;
        color: #212121;
text-align: center;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.84px;
      }
@media screen and (min-width:768px) {
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.84px;

}
      @media screen and (min-width:768px) {
        width: 314px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
      }
    }

    
  &__name {
@extend %clients;
    gap: 30px;
    list-style: none;
    @media screen and (min-width:320px) {
      display: flex;
      flex-direction: row;
  flex-wrap: wrap;
    }
    @media screen and (min-width:768px) {
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
    }
    @media screen and (min-width:1200px) {
      gap: 15px;
    }
  }

  
  &__box {
    border-radius: 4px;
    border: 1px solid#AFB1B8 ;
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    @extend %clients;
    align-items: center;


    @media screen and (min-width:320px) {
      width: 200px;
height: 92px;
flex-shrink: 0;
    }

    @media screen and (min-width:768px) {
      width: 226px;
height: 92px;
flex-shrink: 0; 
    }

    @media screen and (min-width:1200px) {
      width: 170px;
height: 92px;
flex-shrink: 0;
    }
  }

  
 &__logo {
  width: 106px;
  height: 60px;
  flex-shrink: 0;
  fill: #AFB1B8;
  transition-duration:  500ms;
  transition-property: fill, background;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

  
&__box:hover {
  color: #2196f3;
border: 1px solid #2196f3;
}



  
&__box:hover &__logo {
  fill: #2196f3;
}
  }
  
  
  
