.header {



  &__navigation {
    display: flex;
    padding-top: 10px;
    @media screen and (min-width: 320px) {
      padding-bottom: 10px;
    }
  }


&__studiotb{
  @media screen and (min-width:768px) {
    width: 45px;
    height: 16px;
  }

}


  &__logo {
    color: $button-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    align-items: center;
    align-self: center;

    @media screen and (min-widthL:768px) {
      width: 134px;
      height: 28px;
    }
 
  }

  &__accent {
    color: black;
  }




  &__list {
  
display: none;
@media screen and (min-width:768px) {
  display: flex;
gap: 40px;
  margin-right: 70px;
margin-left: 60px;
align-items: center;
}

@media screen and (min-width: 1200px) {
  gap: 50px;
  margin-left: 93px;
  margin-right: 300px;

}


  
}

  


  &__link {
    color: $text-color;
    @extend %sizes;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  &__studio {
    transition-property: color;
    transition-duration: 500ms;

   
  }

  &__contacts {
     @extend %word;
     display: none;

     @media screen and (min-width:768px) {
      display:flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
     }
@media screen and (min-width: 1200px) {
flex-direction: row;
align-items: center;
}


  }

  &__adress {
    color: $content-color;
    @extend %sizes;
@media screen and (min-width:768px) {
  width: 116px;
  height: 14px;
}

  }

  &__link:hover {
    color: $button-color;
  }

  &__adress:hover {
    color: $button-color;
  }

  &__adress:hover .mail-svg {
    fill: #2196f3;
  }
  .phone-svg {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 10px;
    fill: grey;
  }

  &__adress:hover .phone-svg {
    fill: #2196f3;
  }

  .studio__color {
    color: #fff;
  }

  .perf {
    margin-bottom: 28px;
  }
  .perf::after {
    content: "";
    @extend %pos;
    background: #2196f3;
    margin: auto;
    width: 78px;
    top: 80px;
    right: 1113px;
    color: #2196f3;
  }

  &__information {
    box-shadow: inset 0px -5px 10px -10px grey;
  }

  .mail {
    margin-bottom: 9px;
  }


  &__mails{
    width: 14px;
height: 10px;
flex-shrink: 0;
margin-right: 8px;
  }

  // 01489672307946

  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


&__icon-close{
  width: 40px;
  height: 40px;
flex-shrink: 0;
fill: black;
}

&__menu-info-place{
  flex-direction: column;
}



&__box{
  z-index: 1;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 768px;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  position: fixed;
  left: 0px;
  top: 0px;

  transition: opacity 250ms linear , visibility 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: opacity visibility;
display: flex;

  @media screen and (min-width: 768px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media screen and (min-width: 1200px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}

&__menu-network-site{
  color: #2196F3;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 122.222% */
letter-spacing: 0.36px;
}

&__menu-place{
  flex-direction: column;
  width: 100%;
  height: 100%;
}

&__menu-contact{
  flex-direction: column;
}

&__menu-closes{
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

&___menu-section{
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  background: $text-color;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 40px;
  padding-bottom: 48px;
}





&__menu-email-style{
  color: #757575;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}


&__menu-numb-style{
  color: #2196F3;
font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.68px;
}







&__menu-page{
  color: #212121;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.8px;
}


&__moblbutton{
  @media screen and (min-width:1200px) {
    display: none;
  }
  @media screen and (min-width:768px) {
    display: none;
  }

  @media screen and (min-width: 320px) {
background-color: transparent;
margin-left: auto ;
  }
}

&__mobmenu{
  width: 40px;
height: 40px;
flex-shrink: 0;
@media screen and (min-width:1200px) {

}
@media screen and (min-width:768px) {
  display: none;
}

@media screen and (min-width:320px) {

  background-color: transparent;
}
}

}
