.header {
  height: 80px;

  &__navigation {
    display: flex;
    padding-top: 20px;
  }


 

  &__logo {
    color: $button-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    align-items: center;
    align-self: center;
  }

  &__accent {
    color: black;
  }

  &__list {
  
display: none;
@media screen and (min-width:768px) {
  display: flex;
  gap: 50px;
}

@media screen and (min-width: 1200px) {
  gap: 10px;
}


  
}

  


  &__link {
    color: $text-color;
    @extend %sizes;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  &__studio {
    transition-property: color;
    transition-duration: 500ms;

   
  }

  &__contacts {
     @extend %word;
     display: none;

     @media screen and (min-width:768px) {
      display:flex;
      flex-direction: column;
     }
@media screen and (min-width: 1200px) {
flex-direction: row;
}


  }

  &__adress {
    color: $content-color;
    @extend %sizes;
  }

  &__link:hover {
    color: $button-color;
  }

  &__adress:hover {
    color: $button-color;
  }

  &__adress:hover .mail-svg {
    fill: #2196f3;
  }
  .phone-svg {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 10px;
    fill: grey;
  }

  &__adress:hover .phone-svg {
    fill: #2196f3;
  }

  .studio__color {
    color: #fff;
  }

  .perf {
    margin-bottom: 28px;
  }
  .perf::after {
    content: "";
    @extend %pos;
    background: #2196f3;
    margin: auto;
    width: 78px;
    top: 80px;
    right: 1113px;
    color: #2196f3;
  }

  &__information {
    box-shadow: inset 0px -5px 10px -10px grey;
  }

  .mail {
    margin-bottom: 9px;
  }
}
