.hero {
  background-repeat: no-repeat;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mob/hero-img@mobile-1x.webp"),
    url("../images/hero-img.webp");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mob/hero-img@mobile-2x.webp"),
      url("../images/hero-img.webp");
    background-size: cover;
  }
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-color: #2f303a;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tabl/hero-img@tablet-1x.webp"),
      url("../images/hero-img.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tabl/hero-img@tablet-2x.webp"),
          url("../images/hero-img.webp");
    }
  }
  @media screen and (min-width: 1200px) {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
    // height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desk/hero-img@desktop-1x.webp"),
      url("../images/hero-img.webp");
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ), url("../images/desk/hero-img@desktop-2x.webp"),
        url("../images/hero-img.webp");
        background-size: cover;
      }
  }

    &__heading {
      max-width: 696px;
      margin-bottom: 30px;

      @media screen and (min-width:320px) {
        color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 900;
line-height: 42px; /* 161.538% */
letter-spacing: 1.56px;
text-transform: uppercase;
max-width: 696px;

      }
      @media screen and (min-width:1200px) {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px; /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
        width: 696px;
        height: 120px;
      }
      
      
        
      @media screen and (min-width:768px) {
        margin-right: auto;
        margin-left:auto;
      }
    }

    
&__button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: $button-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  @media screen and (min-width:320px ) {
    width: 200px;
height: 50px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
  }
@media screen and (min-width:768px) {
  width: 200px;
height: 50px;
flex-shrink: 0;
margin-left: auto;
margin-right: auto;
}
@media screen and (min-width:1200px) {
  margin-left: 250px;
  margin-left: auto;
margin-right: auto;
}

}


&__button__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
}


&__box {
@media screen and (min-width:320px) {
  max-width: 480px;
  width: 100%;

flex-shrink: 0;

}
@media screen and (min-width:768px) {
  width: 768px;

flex-shrink: 0;
}
@media screen and (min-width:1200px) {
  padding-left: 40px;
  max-width: 1170px;
  width: 100%;
}

}


  }
  
  