.hero {
    display: flex;
    height: 600px;
    background-color: var(--hero-background);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/Img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-heading {
    width: 696px;
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .box {
    display: flex;
  }
  
  .hero-button {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .hero-button-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;
  }