.buttons-catalogue{
  
}
.buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  
  .button {
    border-radius: 4px;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.48px;
    transition-duration:  500ms;
    transition-property: fill, background;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .buttons-all {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    width: 73px;
    height: 38px;
    color: var(--text-color);
    border-radius: 4px;
    transition-duration:  500ms;
    transition-property: color, background;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.buttons-all:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  
    background-color: #2196f3;
    color: white;
  }
  
  
  .card-poster:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  
  .button-2 {
    width: 125px;
    height: 38px;
  }
  
  .button-2:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--button-color);
    color: #f5f4fa;
  }
  
  .button-3 {
    width: 122px;
    height: 38px;
  }
  
  .button-3:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--button-color);
    color: #f5f4fa;
  }
  
  .button-4 {
    width: 130px;
    height: 38px;
  }
  
  .button-4:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--button-color);
    color: #f5f4fa;
  }
  
  .button-5 {
    width: 130px;
    height: 38px;
  }
  
  .button-5:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--button-color);
    color: #f5f4fa;
  }
  
  