

  
  
  .workers {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;

    
  &__name {
    color: 
    $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-top: 30px;
    @media screen and (min-width:768px) {
      color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;

    }
  }
    
 &__photo {
  width: 270px;
  height: 260px;


  @media screen and (min-width:320px) {
    width: 430px;
height: 460px;
flex-shrink: 0;
  }
  @media screen and (min-width:768px) {
    width: 354px;
    height: 374px;
    flex-shrink: 0;
  }




  @media screen and (min-width:1200px) {
    width: 270px;
height: 260px;
flex-shrink: 0;
  }
}

    &__title {
      text-align: center;
      color: 
      $text-color;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.08px;
    }

    
 &__list {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  @media screen and (min-width:768px) {
    max-width: 738px;
    height: 1102px;
    flex-shrink: 0;
     display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
 
  }
  @media screen and (min-width:320px) {
    display:flex ;
  flex-direction: column;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1170px;
    height: 428px;
    width: 100%;
  }
}


&__item {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 5px 15px -10px black;




  @media screen and (min-width:320px) {
    width: 430px;
height: 622px;
flex-shrink: 0;
  }


  @media screen and (min-width:768px) {
    width: 354px;
    height: 536px;
    flex-shrink: 0;
  }
  @media screen and (min-width:1200px) {
    width: 270px;
height: 428px;
flex-shrink: 0;
  }
}



  
&__skill {
  color: $content-color;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-top: 10px;
  padding-bottom: 30px;
}



&__information {
  display: flex;
  justify-content: center;
  gap: 22px;
  list-style: none;
  padding-bottom: 30px;
}

  
&__instagrams {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration:  500ms;
  transition-property: fill, background;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

&__linkedins {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration:  500ms;
  transition-property: fill, background;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


&__facebooks {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration:  500ms;
  transition-property: fill, background;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}



&__twitters {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  transition-duration:  500ms;
  transition-property: fill, background;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}



  
&__instagrams :hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;

}


&__instagram {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

&__instagram:hover {
  background-color: #2196f3;
}



&__instagram:hover &__instagrams {
  fill: #fff;
}




&__twitters :hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}



&__twitter {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


&__twitter:hover {
  background-color: #2196f3;
}



  &__twitter:hover &__twitters {
    fill: #fff;
  }

  
  &__facebooks :hover {
    width: 44px;
    height: 44px;
    border-radius: 100px;
  }


  
  &__facebook {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
 &__facebook:hover {
  background-color: #2196f3;
}


  
&__facebook:hover &__facebooks {
  fill: #fff;
}



&__linkedins :hover {
  width: 44px;
  height: 44px;
  border-radius: 100px;
}


  
&__linkedin {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


&__linkedin:hover {
  background-color: #2196f3;
}


&__linkedin:hover &__linkedins {
  fill: #fff;
}
  }
  
  
  
  
  
  
  
  
  
  
  
  
  